<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['../../']">管理</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    订单记录
  </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-divider></nz-divider>
<nz-table #basicTable [nzData]="orders"
          [nzScroll]="{x:'768px'}"
          [nzTitle]="tableTitle"
          [nzHideOnSinglePage]="hideOnSinglePage"
          [nzNoResult]="noResult"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          [nzFrontPagination]="frontPagination"
>
  <thead>
  <tr>
    <th>课程名称</th>
    <th>购买学生</th>
    <th>支付价格</th>
    <th>平台抽成</th>
    <th>时间</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{order?.name}}</td>
    <td>{{order?.buyer}}</td>
    <td>{{order?.price}}</td>
    <td>{{order?.commission}}</td>
    <td>{{order?.time}}</td>
  </tr>
  </tbody>
</nz-table>
