<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['../../']">管理</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    已经结束的课程
  </nz-breadcrumb-item>
</nz-breadcrumb>

<nz-divider></nz-divider>
<div class="filter clearfix">
  <div nz-row
       [nzAlign]="'middle'"
       [nzJustify]="'center'"
       class="filter-row"
  >
    <div nz-col
         nzSpan="1"
         class="filter-col"
         [nzMd]="2"
         [nzSm]="4"
         [nzXs]="5"
    >地区：</div>
    <div nz-col
         nzSpan="23"
         class="filter-col"
         [nzMd]="22"
         [nzSm]="20"
         [nzXs]="19"
    >
      <nz-select style="width: 100%;" [(ngModel)]="selectedArea" (nzScrollToBottom)="loadMoreArea()" nzPlaceHolder="选择地区" nzAllowClear>
        <nz-option *ngFor="let o of areaList" [nzValue]="o" [nzLabel]="o"></nz-option>
        <nz-option *ngIf="areaIsLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </div>
  </div>

  <div nz-row [nzAlign]="'middle'" [nzJustify]="'center'" class="filter-row">
    <div nz-col
         nzSpan="3"
         class="filter-col"
         [nzMd]="2"
         [nzSm]="4"
         [nzXs]="5"
    >科目：</div>
    <div
      nz-col
      nzSpan="21"
      class="filter-col"
      [nzMd]="22"
      [nzSm]="20"
      [nzXs]="19"
    >
      <nz-select style="width: 100%;" [(ngModel)]="selectedSubject" (nzScrollToBottom)="loadMoreSubject()" nzPlaceHolder="选择科目" nzAllowClear>
        <nz-option *ngFor="let o of subjectList" [nzValue]="o" [nzLabel]="o"></nz-option>
        <nz-option *ngIf="subjectIsLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </div>
  </div>

  <div nz-row [nzAlign]="'middle'" [nzJustify]="'center'" class="filter-row">
    <div
      nz-col
      nzSpan="3"
      class="filter-col"
      [nzMd]="2"
      [nzSm]="4"
      [nzXs]="5"
    >年级：</div>
    <div
      nz-col
      nzSpan="21"
      class="filter-col"
      [nzMd]="22"
      [nzSm]="20"
      [nzXs]="19"
    >
      <nz-select style="width: 100%;" [(ngModel)]="selectedGrade" (nzScrollToBottom)="loadMoreGrade()" nzPlaceHolder="选择年级" nzAllowClear>
        <nz-option *ngFor="let o of gradeList" [nzValue]="o" [nzLabel]="o"></nz-option>
        <nz-option *ngIf="gradeIsLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </div>
  </div>
</div>

<nz-divider></nz-divider>

<div nz-row>
  <nz-card style="width:300px;margin: 20px;"
           nz-col
           nzSpan="6"
           [nzCover]="coverTemplate"
           [nzActions]="[actionSetting,actionEdit,actionEllipsis]"
           [nzBordered]="bordered"
           [nzHoverable]="hoverable"
           [nzLoading]="loading"
           [nzType]="'inner'"
  >
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta>
  </nz-card>
  <nz-card
    style="width:300px;margin: 20px;"
    nz-col
    nzSpan="6"
    [nzCover]="coverTemplate"
    [nzActions]="[actionSetting,actionEdit,actionEllipsis]"
    [nzBordered]="bordered"
    [nzHoverable]="hoverable"
    [nzLoading]="loading"
    [nzType]="'inner'"
  >
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta>
  </nz-card>

  <nz-card
    style="width:300px;margin: 20px;"
    nz-col
    nzSpan="8"
    [nzCover]="coverTemplate"
    [nzActions]="[actionSetting,actionEdit,actionEllipsis]"
    [nzBordered]="bordered"
    [nzHoverable]="hoverable"
    [nzLoading]="loading"
    [nzType]="'inner'"
  >
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta>
  </nz-card>

  <nz-card
    style="width:300px;margin: 20px;"
    nz-col
    nzSpan="8"
    [nzCover]="coverTemplate"
    [nzActions]="[actionSetting,actionEdit,actionEllipsis]"
    [nzBordered]="bordered"
    [nzHoverable]="hoverable"
    [nzLoading]="loading"
    [nzType]="'inner'"
  >
    <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta>
  </nz-card>
</div>

<ng-template #avatarTemplate>
  <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
</ng-template>
<ng-template #coverTemplate>
  <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"/>
</ng-template>
<ng-template #actionSetting>
  <i class="anticon anticon-setting"></i>
</ng-template>
<ng-template #actionEdit>
  <i class="anticon anticon-edit"></i>
</ng-template>
<ng-template #actionEllipsis>
  <i class="anticon anticon-ellipsis"></i>
</ng-template>
