<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['../../']">首页</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    正在进行的课程
  </nz-breadcrumb-item>
</nz-breadcrumb>

<nz-divider></nz-divider>

<nz-table #basicTable [nzData]="classes"
          [nzScroll]="{x:'768px'}"
          [nzTitle]="tableTitle"
          [nzHideOnSinglePage]="hideOnSinglePage"
          [nzNoResult]="noResult"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          [nzFrontPagination]="frontPagination"
>
  <thead>
  <tr>
    <th>课程名称</th>
    <th>课容量</th>
    <th>已上课时/总课时</th>
    <th>上课时间</th>
    <th>上课学生</th>
    <th>开始上课</th>
    <th>结课</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let class of classes">
    <td>{{class?.name}}</td>
    <td>{{class?.capacity}}</td>
    <td>{{class?.endClassNum}}/{{class?.classNum}}</td>
    <td>{{class?.classTime}}</td>
    <td></td>
    <td>
      <button nz-button nzType="primary" nz-popconfirm nzTitle="是否开始该课程?" (nzOnConfirm)="auditPass()" (nzOnCancel)="auditCancel()" nzPlacement="topLeft">上课</button>
    </td>
    <td>
      <button nz-button nzType="primary" nz-popconfirm nzTitle="是否结束该课程?" (nzOnConfirm)="auditPass()" (nzOnCancel)="auditCancel()" nzPlacement="topLeft">结课</button>
    </td>
  </tr>
  </tbody>
</nz-table>
