<nz-layout class="layout">

  <nz-header id="header">
    <ul [nzTheme]="'light'" nz-menu class="header-menu" [nzMode]="'horizontal'">
      <li nz-menu-item class="logo">
        <a routerLink="/">
          <img src="assets/img/logo.jpg">
        </a>
      </li>

      <li nz-menu-item (click)="toggleCollapsed()" class="menu-icon">
        <i class="anticon" [class.anticon-menu-unfold]="!isCollapsed" [class.anticon-menu-fold]="isCollapsed" style="height: 100%;width: 100%">
        </i>
      </li>
    </ul>
  </nz-header>
  <nz-layout id="middle">
    <nz-sider id="sider" style="background:#fff;" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'md'" [nzTrigger]="null">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-submenu>
          <span title><i class="anticon anticon-appstore-o"></i>课程管理</span>
          <ul>
            <li nz-menu-item>课程审核</li>
            <li nz-menu-item>正在进行的课程</li>
            <li nz-menu-item>已结束的课程</li>
          </ul>
        </li>
        <li nz-menu-item="">
          <span title><i class="anticon anticon-user"></i>学生管理</span>
        </li>
        <li nz-submenu>
          <span title><i class="anticon anticon-user"></i>教师管理</span>
          <ul>
            <li nz-menu-item>教师查看</li>
            <li nz-menu-item>资格审核</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i class="anticon anticon-notification"></i>消息通知</span>
          <ul>
            <li nz-menu-item>未处理消息</li>
            <li nz-menu-item>已处理消息</li>
            <li nz-menu-item>新增消息</li>
            <li nz-menu-item>已发消息</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i class="anticon anticon-pay-circle-o"></i>财务管理</span>
          <ul>
            <li nz-menu-item>体现请求</li>
            <li nz-menu-item>体现记录</li>
            <li nz-menu-item>订单记录</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout id="layoutContent">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content id="content">
        content
      </nz-content>
    </nz-layout>
  </nz-layout>
  <nz-layout>
    <nz-footer>
      footer
    </nz-footer>
  </nz-layout>
</nz-layout>
