<nz-breadcrumb>
<nz-breadcrumb-item>
  <a [routerLink]="['../../']">管理</a>
</nz-breadcrumb-item>
<nz-breadcrumb-item>
  提现请求
</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-divider></nz-divider>
<nz-table #basicTable [nzData]="classes"
          [nzScroll]="{x:'768px'}"
          [nzTitle]="tableTitle"
          [nzHideOnSinglePage]="hideOnSinglePage"
          [nzNoResult]="noResult"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          [nzFrontPagination]="frontPagination"
>
  <thead>
  <tr>
    <th>课程名称</th>
    <th>课时数</th>
    <th>上课时间</th>
    <th>上课人</th>
    <th>课容量</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let class of classes">
    <td>{{class.name}}</td>
    <td>{{class.classNum}}</td>
    <td>{{class.classTime}}</td>
    <td>{{class.speaker}}</td>
    <td>{{class.capacity}}</td>
  </tr>
  </tbody>
</nz-table>
