<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['../../']">管理</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    已处理的消息
  </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-divider></nz-divider>
<nz-table #basicTable [nzData]="messages"
          [nzScroll]="{x:'768px'}"
          [nzTitle]="tableTitle"
          [nzHideOnSinglePage]="hideOnSinglePage"
          [nzNoResult]="noResult"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          [nzFrontPagination]="frontPagination"
>
  <thead>
  <tr>
    <th nzShowCheckbox nzShowRowSelection [nzSelections]="listOfSelection" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
    <th>消息类型</th>
    <th>发信人</th>
    <th>内容概览</th>
    <th>时间</th>
    <th>消息状态</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let message of messages">
    <td nzShowCheckbox [(nzChecked)]="message.checked" (nzCheckedChange)="refreshStatus()"></td>
    <td>{{message.type}}</td>
    <td>{{message.sender}}</td>
    <td>{{message.content}}</td>
    <td>{{message.time}}</td>
    <td>{{message.statue | switch}}</td>
  </tr>
  </tbody>
</nz-table>
