<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['../../']">管理</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    教师查看
  </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-divider></nz-divider>
<div class="filter clearfix">
  <div nz-row
       [nzAlign]="'middle'"
       [nzJustify]="'center'"
       class="filter-row"

  >
    <div nz-col
         nzSpan="3"
         class="filter-col"
         [nzMd]="2"
         [nzSm]="4"
         [nzXs]="5"
    >地区：</div>
    <div nz-col
         nzSpan="21"
         class="filter-col"
         [nzMd]="22"
         [nzSm]="20"
         [nzXs]="19"
    >
      <nz-select style="width: 100%;" [(ngModel)]="selectedArea" (nzScrollToBottom)="loadMoreArea()" nzPlaceHolder="选择地区" nzAllowClear>
        <nz-option *ngFor="let o of areaList" [nzValue]="o" [nzLabel]="o"></nz-option>
        <nz-option *ngIf="areaIsLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </div>
  </div>



  <div nz-row [nzAlign]="'middle'" [nzJustify]="'center'" class="filter-row">
    <div
      nz-col
      nzSpan="3"
      class="filter-col"
      [nzMd]="2"
      [nzSm]="4"
      [nzXs]="5"
    >年级：</div>
    <div
      nz-col
      nzSpan="21"
      class="filter-col"
      [nzMd]="22"
      [nzSm]="20"
      [nzXs]="19"
    >
      <nz-select style="width: 100%;" [(ngModel)]="selectedGrade" (nzScrollToBottom)="loadMoreGrade()" nzPlaceHolder="选择年级" nzAllowClear>
        <nz-option *ngFor="let o of gradeList" [nzValue]="o" [nzLabel]="o"></nz-option>
        <nz-option *ngIf="gradeIsLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </div>
  </div>
</div>
<nz-divider></nz-divider>

<nz-table #basicTable [nzData]="teachers"
          [nzScroll]="{x:'768px'}"
          [nzTitle]="tableTitle"
          [nzHideOnSinglePage]="hideOnSinglePage"
          [nzNoResult]="noResult"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          [nzFrontPagination]="frontPagination"
>
  <thead>
  <tr>
    <th>姓名</th>
    <th>地区</th>
    <th>是否认证</th>
    <th>是否购买设备</th>
    <th>订单号</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let teacher of teachers">
    <td>{{teacher?.name}}</td>
    <td>{{teacher?.area}}</td>
    <td>{{teacher?.audit | switch}}</td>
    <td>{{teacher?.device | switch}}</td>
    <td>{{teacher?.orderNumber}}</td>
    <td>
      <nz-popconfirm [nzTitle]="'确定删除?'" (nzOnConfirm)="deleteRow(data.key)">
        <a nz-popconfirm>删除</a>
      </nz-popconfirm>
    </td>
  </tr>
  </tbody>
</nz-table>
